<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(90deg, #cb2d3e, #a73737) !important; margin-bottom: 0px !important; font-weight: strong !important;">
  <div class="container well well-lg" style="background: linear-gradient(90deg, #cb2d3e, #a73737); border: 0px solid #e3e3e3 !important;">
    <h1> Past Screenings:</h1>
      <h3 style="font-weight: bold">  May 23, 2017  </h3>
        <h3> Premiere Screening, Keyano Theatre | Fort McMurray, AB </h3>
      <h3 style="font-weight: bold">  August 17, 2017 </h3>
        <h3> Regina International Film Festival, Cineplex Odeon Southland Mall | Regina, SK </h3>
      <h3 style="font-weight: bold">  September 23, 2017 </h3>
        <h3> Airdrie Film Festival, Town Country Centre | Airdrie, AB </h3>
      <h3 style="font-weight: bold">  September 24 </h3>
        <h3> Durham Region International Film Festival, Regent Theatre | Oshawa, ONT </h3>
      <h1> Upcoming :</h1>
        <h3 style="font-weight: bold">  October 20, 2017 </h3>
          <h3> NewWest Film Festival, Landmark Cinemas 10 | New Westminster, BC </h3>
        <h3 style="font-weight: bold">  November 12, 2017 </h3>
          <h3> Fort McMurray International Film Festival, Suncor Energy Centre | Fort McMurray, AB </h3>
  </div>
</div>
