<div class="full-width-image">
  <%= image_tag("this_is_home_horizantal_laurels.jpg", class: "img-responsive") %>
</div>
<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(90deg, #cb2d3e, #a73737) !important; margin-bottom: 0px !important; font-weight: strong !important;">
  <div class="container well well-lg" style="background: linear-gradient(90deg, #cb2d3e, #a73737); border: 0px solid #e3e3e3 !important;">
    <h1>THIS IS NOT JUST A STORY ABOUT: </h1>
      <h3> DEVASTATION </h3>
      <h3> TRAGEDY </h3>
      <h3> LOSS </h3>
      <h3> OIL </h3>
  </div>
</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ncAA4h60Cvw?rel=0" frameborder="0" allowfullscreen></iframe></iframe>
  </div>
