<div class= "container-fluid">
  <h1>About:</h1>
  <h3> When wildfires began to tare through the boreal forest and ravage most of his hometown of Fort McMurray, filmmaker Var Bhalla's first response was to grab his camera and get on a plane.</h3>
</div>
