<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(90deg, #cb2d3e, #a73737) !important; margin-bottom: 0px !important; font-weight: strong !important;">
  <div class="container well well-lg" style="background: linear-gradient(90deg, #cb2d3e, #a73737); border: 0px solid #e3e3e3 !important;">
    <h1>Logline:</h1>
      <h3> When wildfires tore through the city Fort McMurray in spring of 2016, filmmaker Var Bhalla's first response was to grab his camera and get on a plane. Returning to his hometown after the devastating fire forced the evacuation of over 90,000 residents, Bhalla captures a community in flux. Struggling with loss and the immensity of the trauma, Bhalla brings us into the community by introducing a wide range of characters, each struggling with the challenges the fire has brought into their lives. </h3>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(90deg, #cb2d3e, #a73737) !important; margin-bottom: 0px !important; font-weight: strong !important;">
  <div class="container well well-lg" style="background: linear-gradient(90deg, #cb2d3e, #a73737); border: 0px solid #e3e3e3 !important;">
    <h1>Storyline:</h1>
      <h3> This is not just a story about devastation. It's not a story about tragedy, oil, or the environment. This is a story about how a husband and wife immigrated from India to Northern Alberta to start a new life. It's a story about the different people that came to call Fort McMurray home and how 30 years after the filmmaker was born there, his home-town almost burned to the ground. From the ashes of one of the worst natural disasters in Canadian history, this documentary explores the restoration of hope in a community that faced tragedy and devastation. Var Bhalla (narrator and guiding character) returns to his hometown after 'the Beast' ravaged the city.</h3>
  </div>
</div>
